/* Basisstil für die Bubblegum-Klasse */
.A_bubblegum {
  position: relative;
  width: 100vw;
  max-height: max-content;
  top: -300px;
  overflow: visible;
  background: linear-gradient(#7fd2ff 0%, #7fd2ff 75%, #ffffff 100%);
}

/* Stil für den Banner-Bereich */
.A_bubblegum_banner {
  width: 100%;
  height: 100%;
  top: -10%;
  overflow: visible;
  padding: 50px 0;
  white-space: nowrap;
  position: absolute; /* geändert von relative zu absolute */
}

.banner1,
.banner2,
.banner3,
.banner4,
.banner5,
.banner6,
.banner7,
.banner8 {
  margin-top: 6vw;
  background: black; /* Farbverlauf anwenden */
}

/* Banner-Inhalt */
.A_bubblegum_banner-content {
  display: flex;
  white-space: nowrap;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.A_bubblegum_banner-text {
  font-size: 2rem;
  padding-right: 2em;
  color: white;
}

/* Container für den Parallax-Effekt */
.A_bubblegum_parallax-container {
  position: relative;
  top: 10%; /* Du kannst diesen Wert nach Bedarf anpassen */
  margin: auto;
  width: 100%; /* Füllt den verfügbaren Platz */
  height: 100vh; /* Höhe des Containers */
  overflow: visible;
  z-index: 2; /* Damit der Container über den anderen Elementen liegt */
}

/* Verpackungslayer */
.A_bubblegum_packaging-layer {
  width: 100%;
  height: 100%;
  background-image: url('./assets/images/packaging3_fs_gruen.png'); /* Hintergrundbild */
  background-size: cover; /* Hintergrundbild deckt den Container ab */
  background-position: center; /* Zentrierte Hintergrundbildposition */
}

/* Kaugummi-Layer */
.A_bubblegum_gum-layer {
  position: absolute;
  width: 18%; /* Breite der Kaugummi-Layer */
  height: auto; /* Höhe wird proportional zur Breite gehalten */
  background-image: url('./assets/images/gum.png'); /* Kaugummi-Bild */
  background-size: contain; /* Behalte das Seitenverhältnis */
  background-repeat: no-repeat; /* Kein Wiederholen des Hintergrunds */
}

/* Positionierung der einzelnen Kaugummi-Layer */
.layer-1 {
  top: 35%; /* Positionierung des ersten Layers */
  left: 40%;
}

.layer-2 {
  top: 30%; /* Positionierung des zweiten Layers */
  left: 25%;
}

.layer-3 {
  top: 26%; /* Positionierung des dritten Layers */
  left: 65%;
}

.layer-4 {
  top: 0%; /* Positionierung des vierten Layers */
  left: 55%;
}

/* Hand-Element */
.A_bubblegum_hand {
  position: absolute;
  top: -20%; /* Anpassen, um die Hand richtig zu positionieren */
  right: -30%; /* Anpassen, um die Hand richtig zu positionieren */
  width: 45vw; /* Breite der Hand */
  height: auto; /* Höhe basierend auf der Breite */
  transform-origin: top right; /* Drehpunkt für Animation */
  animation: rotateInOut 6s linear infinite; /* Animation */
}

@keyframes rotateInOut {
  0%, 100% {
      transform: rotate(10deg); /* Anfangs- und Endposition */
  }
  50% {
      transform: rotate(0deg); /* Mittlere Position */
  }
}
