

.A_skybox {
  position: relative;
  width: 100vw;
  height: 100%; 
  overflow: visible;
}

.A_skybox_front {
  position: relative;
  overflow: visible;

  top: -65px;
  left: 0;
  width: 100vw;
  height: 300%;

  background-image: url('../assets/images/skybox_oben2.png');
  background-size: 100%;
  background-repeat: no-repeat;

  z-index: 0;
  /* background-color: brown; */

}

#background {
  position: absolute;
  width: 100%;
  height: 100%; 
  overflow: visible;
  /* background-color: #7fff8a; */
  z-index: -2;
}

/* Scroll-Ebenen */
.scroll-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: 2px;
  /* overflow: hidden; */
  pointer-events: none; /*  sorgt dafür, dass nur die Scroll-Interaktionen innerhalb des Containers registriert werden. */
  z-index: 2;
}

    .scroll-section {
      position: absolute;
      height: 100vh;
      width: 100vw;

      transform-style: preserve-3d;
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: all; /* Die pointer-events: all; auf den .scroll-section-Elementen stellt sicher, dass sie auf Mausereignisse reagieren können. */
    }

    .scroll-section p {
      font-size: 4em;
      color: black;
      text-align: center;
    }

    .Title {
      font-size: 5em;
      color: #7CC4E9;
    }



